---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro?.site?.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/about-illustration.webp"
        alt="Illustration of a notebook"
        width="330"
      />
    </figure>
    <p>
      Let me tell you a bit about myself. I'm a full-stack web engineer based in
      Louisville, KY. I am currently employed as a Senior Software Engineer at
      <a href="https://semanticbits.com" target="_blank" rel="noopener"
        >ICF</a
      >. There, I specialize in a wide range of technologies that support
      digital healthcare services.
    </p>
    <p>
      I have 15 years' of professional experience using many different web
      development standards. On the client-side, I prefer to work in Vue.js or
      Angular with TypeScript. On the server-side, I do most of my work in
      Node.js and a little .NET here and there. For databases, I prefer PostgreSQL.
    </p>
    <p>
      My core work ethic revolves around identifying and solving a client's
      actual needs. Flashy design rarely wins over absolute function in the real
      world and my portfolio of work strives to convey that. Whether it is a
      small local business or a thriving corporate portal, I always strive to
      fulfill the client's specific needs. I deliver cloud-native solutions that
      align to industry standards in security, performance and accessibility.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
